<div class = "mb-4">
  <h1>Places</h1>
</div>
  <p>
    <a class = "btn btn-dark" href="/places/new" role = "button">New Place </a>
  </p>
  <ul>
    <% for place in @places %>
      <p><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></p>
    <% end %>
  </ul>

